body {
    background: url("../images/scribble_light.png")
}
header {
    
    height: 79px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 960px;
    border-bottom: 3px solid grey;
    position: relative;

    

}
#nav-right {
    margin-left: auto;
    float: left;
    /* position: absolute; */
    display: inline-block;

}



#name {
    
    box-sizing: border-box;
    position: absolute;
    left: 0;
    float: left;
    

}


h5 {
    background-color: green;
    /* float: left; */
    padding: 30px;
    box-sizing: border-box;
    margin:0;
    text-align: center;
    clear: both;
    display: inline-block;
   
    
    
}
section {
   
    width: 960px;
    background-color: blueviolet;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding-bottom: 250px;

}
footer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 5px;
    margin-bottom: 0;
    border-top: 3px;
    border-top-color: green;
    border-top-style: solid;
    

}