/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */ 
body {
    background: url("../images/scribble_light.png");
    margin: 0;

}
#header-bg {
    background-color: white;
    width: 100%;
    border-bottom: 3px solid grey;
    height: 76px;
    

}
header {
    
    height: 79px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 960px;
    /* width: 100%;
    background-color: white; */
    
    position: relative;
    /* background-color: aliceblue; */

    

}
#nav-right {
    margin-left: auto;
    float: left;
    /* position: absolute; */
    display: inline-block;

}



#name {
    
    box-sizing: border-box;
    position: absolute;
    left: 0;
    float: left;
    background-color: rgb(33, 160, 132);
    color: white;
    

}


h5 {
    background-color:white;
    color: gray;
    /* float: left; */
    padding: 30px;
    box-sizing: border-box;
    margin:0;
    text-align: center;
    clear: both;
    display: inline-block;
   
    
    
}
section {
   
    width: 960px;
    background-color: white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding-bottom: 250px;
    border: 1px ridge rgb(182, 174, 174);

}
footer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 5px;
    margin-bottom: 0;
    border-top: 3px;
    border-top-color: green;
    border-top-style: solid;
    

}
