body {
    background: url("../images/scribble_light.png")
}
header {
    
    
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 960px;
    border-bottom: 3px solid grey;
    position: relative;

    

}

#nav-right {
    margin-left: auto;
}
#name {
    box-sizing: border-box;
    left: 0;
}
.pages {
    display: inline-block;
}

h5 {
    background-color: green;
    float: left;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 0;
    text-align: center;
    clear: both;
   
    
    
}
section {
   
    width: 960px;
    background-color: blueviolet;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding-bottom: 250px;

}
footer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 5px;
    margin-bottom: 0;
    border-top: 3px;
    border-top-color: green;
    border-top-style: solid;
    

}
.titles {
    width: 200px;
    height: 30px;
    color: white;
    background-color:  rgb(33, 160, 132);
    position: absolute;
}